**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [41]:
import math
import os
import random


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [7]:
sqrt=[math.sqrt(x) for x in range(100)]
print(sqrt)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 3.605551275463989, 3.7416573867739413, 3.872983346207417, 4.0, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.47213595499958, 4.58257569495584, 4.69041575982343, 4.795831523312719, 4.898979485566356, 5.0, 5.0990195135927845, 5.196152422706632, 5.291502622129181, 5.385164807134504, 5.477225575051661, 5.5677643628300215, 5.656854249492381, 5.744562646538029, 5.830951894845301, 5.916079783099616, 6.0, 6.082762530298219, 6.164414002968976, 6.244997998398398, 6.324555320336759, 6.4031242374328485, 6.48074069840786, 6.557438524302, 6.6332495807108, 6.708203932499369, 6.782329983125268, 6.855654600401044, 6.928203230275509, 7.0, 7.0710678118654755, 7.14142842854285, 7.211102550927978, 7.280109889280518, 7.3484692283495345, 7.416198487095663, 7.483314773547883, 7.54983443527075, 7.615773105863909, 7.681145747868608, 7.745966692414834, 7.810249675906654, 7.874007874011811, 7.937253933193772, 8.0, 8.06225774829855, 8.12403840463596, 8.18535277187245, 8.246211251235321, 8.306623862918075, 8.366600265340756, 8.426149773176359, 8.48528137423857, 8.54400374531753, 8.602325267042627, 8.660254037844387, 8.717797887081348, 8.774964387392123, 8.831760866327848, 8.888194417315589, 8.94427190999916, 9.0, 9.055385138137417, 9.1104335791443, 9.16515138991168, 9.219544457292887, 9.273618495495704, 9.327379053088816, 9.38083151964686, 9.433981132056603, 9.486832980505138, 9.539392014169456, 9.591663046625438, 9.643650760992955, 9.695359714832659, 9.746794344808963, 9.797958971132712, 9.848857801796104, 9.899494936611665, 9.9498743710662]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [20]:
my_list=[x for x in range(-10,1,1)]
print(my_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [21]:
odds=[x for x in range(100) if x%2==True]
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [25]:
divisible_by_seven=[x for x in range(1000) if x%7==False]
print(divisible_by_seven)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [27]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [30]:
vowels=['a','e','i','o','u']
non_vowels=[x for x in teststring if x in vowels]
print(non_vowels)

['i', 'a', 'o', 'e', 'o', 'i', 'a', 'i', 'a', 'a', 'e', 'o', 'o', 'a', 'i']

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [33]:
string='The Quick Brown Fox Jumped Over The Lazy Dog'
cap_letters=[x for x in string  if x.isupper()]
print(cap_letters)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [36]:
consonants=[x for x in string.replace(' ','') if x not in vowels]
print(consonants)

['T', 'h', 'Q', 'c', 'k', 'B', 'r', 'w', 'n', 'F', 'x', 'J', 'm', 'p', 'd', 'O', 'v', 'r', 'T', 'h', 'L', 'z', 'y', 'D', 'g']

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [40]:
docs=[x for x in os.listdir(r'C:\Users\Alberto\git_yo')]
print(docs)

['dia1', 'dia2', 'dia3', 'dia4']

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [55]:
rdmlst=[random.choices(range(100),k=10) for x in range(4) ]
print(rdmlst)

[[88, 29, 33, 23, 49, 66, 99, 28, 61, 59], [53, 33, 65, 90, 54, 22, 22, 71, 74, 97], [78, 77, 99, 26, 34, 82, 52, 96, 51, 84], [27, 4, 76, 95, 57, 50, 90, 77, 94, 1]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [59]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [72]:
flatten_list = [y for x in list_of_lists for y in x]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [ ]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [131]:
floats=[float(y) for x in list_of_lists for y in x]
print(floats)

TypeError: 'list' object is not callable

# Handle the exception thrown by the code below by using try and except blocks.

In [ ]:
for i in ['a','b','c']:
    print i**2

In [113]:
    
try:
    for i in ['a','b','c']:
        print (i**2)

except TypeError :
    print('nope')

nope

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [74]:
x = 5
y = 0

z = x/y

ZeroDivisionError: division by zero

In [82]:
try:
    x = 5
    y = 0

    z = x/y
except ZeroDivisionError:
    print('nope')
finally:
    print('all done')

nope
all done

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [65]:
abc=[10,20,20]
print(abc[3])

IndexError: list index out of range

In [69]:
try:
    abc=[10,20,20]
    print(abc[3])
except IndexError:
    print('Nope')

Nope

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [77]:
try:
    1/float(input())
except ZeroDivisionError:
    print('Input cannot be 0')
except ValueError:
    print('not a number')

%
not a number

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [94]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except FileNotFoundError:
    print('nope')

nope

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [96]:

try:
    fp = open('myfile.txt')
    line = f.readline()
except FileNotFoundError :
    print('nope file')
except:
    print('other nopes')

nope

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [87]:

def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

AssertionError: Function can only run on Linux systems.

In [89]:
import sys
try:
    def linux_interaction():
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
        print('Doing something.')
    linux_interaction()
except AssertionError:
    print('nope')

nope


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.

In [137]:
def cuadrado():
    i=True
    while i is True:
        try:
            a=int(input())
            print(a**2)
            break
        except:
            print('input int')

cuadrado()

w
input int
w
input int
w
input int
w
input int
5
25


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

In [138]:
divs=[]
for x in range(1,10000):
    for y in range(2,9):
        if x%y==0:
            divs.append(x)


divs

[2,
 3,
 4,
 4,
 5,
 6,
 6,
 6,
 7,
 8,
 8,
 8,
 9,
 10,
 10,
 12,
 12,
 12,
 12,
 14,
 14,
 15,
 15,
 16,
 16,
 16,
 18,
 18,
 18,
 20,
 20,
 20,
 21,
 21,
 22,
 24,
 24,
 24,
 24,
 24,
 25,
 26,
 27,
 28,
 28,
 28,
 30,
 30,
 30,
 30,
 32,
 32,
 32,
 33,
 34,
 35,
 35,
 36,
 36,
 36,
 36,
 38,
 39,
 40,
 40,
 40,
 40,
 42,
 42,
 42,
 42,
 44,
 44,
 45,
 45,
 46,
 48,
 48,
 48,
 48,
 48,
 49,
 50,
 50,
 51,
 52,
 52,
 54,
 54,
 54,
 55,
 56,
 56,
 56,
 56,
 57,
 58,
 60,
 60,
 60,
 60,
 60,
 62,
 63,
 63,
 64,
 64,
 64,
 65,
 66,
 66,
 66,
 68,
 68,
 69,
 70,
 70,
 70,
 72,
 72,
 72,
 72,
 72,
 74,
 75,
 75,
 76,
 76,
 77,
 78,
 78,
 78,
 80,
 80,
 80,
 80,
 81,
 82,
 84,
 84,
 84,
 84,
 84,
 85,
 86,
 87,
 88,
 88,
 88,
 90,
 90,
 90,
 90,
 91,
 92,
 92,
 93,
 94,
 95,
 96,
 96,
 96,
 96,
 96,
 98,
 98,
 99,
 100,
 100,
 100,
 102,
 102,
 102,
 104,
 104,
 104,
 105,
 105,
 105,
 106,
 108,
 108,
 108,
 108,
 110,
 110,
 111,
 112,
 112,
 112,
 112,
 114,
 114,
 114,
 115,
 116,
 116,
 117,
 118,
 119,
 120,
 120,
 120,
 120,
 120,
 120,
 122,
 123,
 124,
 124,
 125,
 126,
 126,
 126,
 126,
 128,
 128,
 128,
 129,
 130,
 130,
 132,
 132,
 132,
 132,
 133,
 134,
 135,
 135,
 136,
 136,
 136,
 138,
 138,
 138,
 140,
 140,
 140,
 140,
 141,
 142,
 144,
 144,
 144,
 144,
 144,
 145,
 146,
 147,
 147,
 148,
 148,
 150,
 150,
 150,
 150,
 152,
 152,
 152,
 153,
 154,
 154,
 155,
 156,
 156,
 156,
 156,
 158,
 159,
 160,
 160,
 160,
 160,
 161,
 162,
 162,
 162,
 164,
 164,
 165,
 165,
 166,
 168,
 168,
 168,
 168,
 168,
 168,
 170,
 170,
 171,
 172,
 172,
 174,
 174,
 174,
 175,
 175,
 176,
 176,
 176,
 177,
 178,
 180,
 180,
 180,
 180,
 180,
 182,
 182,
 183,
 184,
 184,
 184,
 185,
 186,
 186,
 186,
 188,
 188,
 189,
 189,
 190,
 190,
 192,
 192,
 192,
 192,
 192,
 194,
 195,
 195,
 196,
 196,
 196,
 198,
 198,
 198,
 200,
 200,
 200,
 200,
 201,
 202,
 203,
 204,
 204,
 204,
 204,
 205,
 206,
 207,
 208,
 208,
 208,
 210,
 210,
 210,
 210,
 210,
 212,
 212,
 213,
 214,
 215,
 216,
 216,
 216,
 216,
 216,
 217,
 218,
 219,
 220,
 220,
 220,
 222,
 222,
 222,
 224,
 224,
 224,
 224,
 225,
 225,
 226,
 228,
 228,
 228,
 228,
 230,
 230,
 231,
 231,
 232,
 232,
 232,
 234,
 234,
 234,
 235,
 236,
 236,
 237,
 238,
 238,
 240,
 240,
 240,
 240,
 240,
 240,
 242,
 243,
 244,
 244,
 245,
 245,
 246,
 246,
 246,
 248,
 248,
 248,
 249,
 250,
 250,
 252,
 252,
 252,
 252,
 252,
 254,
 255,
 255,
 256,
 256,
 256,
 258,
 258,
 258,
 259,
 260,
 260,
 260,
 261,
 262,
 264,
 264,
 264,
 264,
 264,
 265,
 266,
 266,
 267,
 268,
 268,
 270,
 270,
 270,
 270,
 272,
 272,
 272,
 273,
 273,
 274,
 275,
 276,
 276,
 276,
 276,
 278,
 279,
 280,
 280,
 280,
 280,
 280,
 282,
 282,
 282,
 284,
 284,
 285,
 285,
 286,
 287,
 288,
 288,
 288,
 288,
 288,
 290,
 290,
 291,
 292,
 292,
 294,
 294,
 294,
 294,
 295,
 296,
 296,
 296,
 297,
 298,
 300,
 300,
 300,
 300,
 300,
 301,
 302,
 303,
 304,
 304,
 304,
 305,
 306,
 306,
 306,
 308,
 308,
 308,
 309,
 310,
 310,
 312,
 312,
 312,
 312,
 312,
 314,
 315,
 315,
 315,
 316,
 316,
 318,
 318,
 318,
 320,
 320,
 320,
 320,
 321,
 322,
 322,
 324,
 324,
 324,
 324,
 325,
 326,
 327,
 328,
 328,
 328,
 329,
 330,
 330,
 330,
 330,
 332,
 332,
 333,
 334,
 335,
 336,
 336,
 336,
 336,
 336,
 336,
 338,
 339,
 340,
 340,
 340,
 342,
 342,
 342,
 343,
 344,
 344,
 344,
 345,
 345,
 346,
 348,
 348,
 348,
 348,
 350,
 350,
 350,
 351,
 352,
 352,
 352,
 354,
 354,
 354,
 355,
 356,
 356,
 357,
 357,
 358,
 360,
 360,
 360,
 360,
 360,
 360,
 362,
 363,
 364,
 364,
 364,
 365,
 366,
 366,
 366,
 368,
 368,
 368,
 369,
 370,
 370,
 371,
 372,
 372,
 372,
 372,
 374,
 375,
 375,
 376,
 376,
 376,
 378,
 378,
 378,
 378,
 380,
 380,
 380,
 381,
 382,
 384,
 384,
 384,
 384,
 384,
 385,
 385,
 386,
 387,
 388,
 388,
 390,
 390,
 390,
 390,
 392,
 392,
 392,
 392,
 393,
 394,
 395,
 396,
 396,
 396,
 396,
 398,
 399,
 399,
 400,
 400,
 400,
 400,
 402,
 402,
 402,
 404,
 404,
 405,
 405,
 406,
 406,
 408,
 408,
 408,
 408,
 408,
 410,
 410,
 411,
 412,
 412,
 413,
 414,
 414,
 414,
 415,
 416,
 416,
 416,
 417,
 418,
 420,
 420,
 420,
 420,
 420,
 420,
 422,
 423,
 424,
 424,
 424,
 425,
 426,
 426,
 426,
 427,
 428,
 428,
 429,
 430,
 430,
 432,
 432,
 432,
 432,
 432,
 434,
 434,
 435,
 435,
 436,
 436,
 438,
 438,
 438,
 440,
 440,
 440,
 440,
 441,
 441,
 442,
 444,
 444,
 444,
 444,
 445,
 446,
 447,
 448,
 448,
 448,
 448,
 450,
 450,
 450,
 450,
 452,
 452,
 453,
 454,
 455,
 455,
 456,
 456,
 456,
 456,
 456,
 458,
 459,
 460,
 460,
 460,
 462,
 462,
 462,
 462,
 464,
 464,
 464,
 465,
 465,
 466,
 468,
 468,
 468,
 468,
 469,
 470,
 470,
 471,
 472,
 472,
 472,
 474,
 474,
 474,
 475,
 476,
 476,
 476,
 477,
 478,
 480,
 480,
 480,
 480,
 480,
 480,
 482,
 483,
 483,
 484,
 484,
 485,
 486,
 486,
 486,
 488,
 488,
 488,
 489,
 490,
 490,
 490,
 492,
 492,
 492,
 492,
 494,
 495,
 495,
 496,
 496,
 496,
 497,
 498,
 498,
 498,
 500,
 500,
 500,
 501,
 502,
 504,
 504,
 504,
 504,
 504,
 504,
 505,
 506,
 507,
 508,
 508,
 510,
 510,
 510,
 510,
 511,
 512,
 512,
 512,
 513,
 514,
 515,
 516,
 516,
 516,
 516,
 518,
 518,
 519,
 520,
 520,
 520,
 520,
 522,
 522,
 522,
 524,
 524,
 525,
 525,
 525,
 526,
 528,
 528,
 528,
 528,
 528,
 530,
 530,
 531,
 532,
 532,
 532,
 534,
 534,
 534,
 535,
 536,
 536,
 536,
 537,
 538,
 539,
 540,
 540,
 540,
 540,
 540,
 542,
 543,
 544,
 544,
 544,
 545,
 546,
 546,
 546,
 546,
 548,
 548,
 549,
 550,
 550,
 552,
 552,
 552,
 552,
 552,
 553,
 554,
 555,
 555,
 556,
 556,
 558,
 558,
 558,
 560,
 560,
 560,
 560,
 560,
 561,
 562,
 564,
 564,
 564,
 564,
 565,
 566,
 567,
 567,
 568,
 568,
 568,
 570,
 570,
 570,
 570,
 572,
 572,
 573,
 574,
 574,
 575,
 576,
 576,
 576,
 576,
 576,
 578,
 579,
 580,
 580,
 580,
 581,
 582,
 582,
 582,
 584,
 584,
 ...]

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'

In [116]:
class smaller_than_2(Exception):
    pass
try:
    Total_Marks = int(input("Enter Total Marks Scored: ")) 
    Num_of_Sections = int(input("Enter Num of Sections: "))
    if Num_of_Sections==2:
        raise smaller_than_2
except smaller_than_2:
    print('Num_of_Sections must be larger than 2')

Enter Total Marks Scored: 2
Enter Num of Sections: 2
Num_of_Sections must be larger than 2