**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [1]:
import math
import re
import random
import numpy


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [2]:
square = [i**2 for i in range(1,21)]
square

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [3]:
(lambda *square : [i ** 2 for i in square])(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [4]:
sqrt = [math.sqrt(i) for i in range(1,101)]
sqrt

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674,
 4.47213595499958,
 4.58257569495584,
 4.69041575982343,
 4.795831523312719,
 4.898979485566356,
 5.0,
 5.0990195135927845,
 5.196152422706632,
 5.291502622129181,
 5.385164807134504,
 5.477225575051661,
 5.5677643628300215,
 5.656854249492381,
 5.744562646538029,
 5.830951894845301,
 5.916079783099616,
 6.0,
 6.082762530298219,
 6.164414002968976,
 6.244997998398398,
 6.324555320336759,
 6.4031242374328485,
 6.48074069840786,
 6.557438524302,
 6.6332495807108,
 6.708203932499369,
 6.782329983125268,
 6.855654600401044,
 6.928203230275509,
 7.0,
 7.0710678118654755,
 7.14142842854285,
 7.211102550927978,
 7.280109889280518,
 7.3484692283495345,
 7.416198487095663,
 7.483314773547883,
 7.54983443527075,
 7.615773105863909,
 7.681145747868608,
 7.745966692414834,
 7.810249675906654,
 7.874007874011811,
 7.937253933193772,
 8.0,
 8.06225774829855,
 8.12403840463596,
 8.18535277187245,
 8.246211251235321,
 8.306623862918075,
 8.366600265340756,
 8.426149773176359,
 8.48528137423857,
 8.54400374531753,
 8.602325267042627,
 8.660254037844387,
 8.717797887081348,
 8.774964387392123,
 8.831760866327848,
 8.888194417315589,
 8.94427190999916,
 9.0,
 9.055385138137417,
 9.1104335791443,
 9.16515138991168,
 9.219544457292887,
 9.273618495495704,
 9.327379053088816,
 9.38083151964686,
 9.433981132056603,
 9.486832980505138,
 9.539392014169456,
 9.591663046625438,
 9.643650760992955,
 9.695359714832659,
 9.746794344808963,
 9.797958971132712,
 9.848857801796104,
 9.899494936611665,
 9.9498743710662,
 10.0]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [5]:
my_list = [-i for i in range(0,11)]
my_list.reverse()
my_list

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [6]:
odds = [i for i in range(1,101) if i%2==1]
odds = [i for i in range(1, 101, 2)]

odds

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [7]:
divisible_by_seven = [i for i in range(1,1001) if i%7==0]
divisible_by_seven

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [8]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [9]:
teststring = 'Find all of the words in a string that are monosyllabic'
vowels = 'a'
non_vowels = teststring.split(vowels)
non_vowels

['Find ', 'll of the words in ', ' string th', 't ', 're monosyll', 'bic']

In [10]:
vowels = ['a','e','i','o','u']
sinvowel =[]
for i in teststring:
    if i not in vowels:
        sinvowel.append(i)
''.join(sinvowel)

'Fnd ll f th wrds n  strng tht r mnsyllbc'

In [11]:
vowels = ['a','e','i','o','u']
sinvowel =[]
non_vowels = [sinvowel.append(i) for i in teststring if i not in vowels]
non_vowels = ''.join(sinvowel)
non_vowels

'Fnd ll f th wrds n  strng tht r mnsyllbc'

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [12]:
sentence = 'The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letters = re.findall(r'[A-Z]*',sentence)
capital_letters

['T',
 '',
 '',
 '',
 'Q',
 '',
 '',
 '',
 '',
 '',
 'B',
 '',
 '',
 '',
 '',
 '',
 'F',
 '',
 '',
 '',
 'J',
 '',
 '',
 '',
 '',
 '',
 '',
 'O',
 '',
 '',
 '',
 '',
 'T',
 '',
 '',
 '',
 'L',
 '',
 '',
 '',
 '',
 'D',
 '',
 '',
 '']

In [13]:
title = []
for i in sentence:

IndentationError: expected an indented block (3095354660.py, line 3)

In [ ]:
sentence = 'The Quick Brown Fox Jumped Over The Lazy Dog'
title =[]
capital_letters = [title.append(i) for i in sentence if i.isupper()]
capital_letters = ','.join(title)
capital_letters

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [ ]:
sentence = 'The Quick Brown Fox Jumped Over The Lazy Dog'
vowels = ['a','e','i','o','u']
no_consonants =[]
consonants = [no_consonants.append(i) for i in sentence if i not in vowels]
consonants = ''.join(no_consonants)                         
consonants

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [ ]:
import random 
random_lists = [[random.randint(0,101) for i in range(10)] for i in range(4)]
random_lists

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [ ]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
flatten_list = [i for number in list_of_lists for i in number]
flatten_list


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [ ]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

# Handle the exception thrown by the code below by using try and except blocks.

In [ ]:
for i in ['a','b','c']:
    print i**2

In [ ]:
lst = ['a','b','c']
for i in lst:
    try:
        print(i**2)
        
    except:
        print('No es un entero, no se puede elevar al cuadrado')
        raise SyntaxError('Faltan paréntesis luego del print')

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [ ]:
x = 5
y = 0

z = x/y

In [ ]:
try:
    x=5
    y=0
    z= x/y

except ZeroDivisionError:
    print('No se pudo hacer la división ya que no se puede dividir por 0...')
    

finally:
    print('All Done.')

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [35]:
try:
    abc=[10,20,20]
    print(abc[3])
except:
    raise IndexError('Está fuera de rango')

IndexError: Está fuera de rango

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 
    
**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [ ]:
import sys

try:
    x=input('Enter a number: ')
    z=input('Enter a number: ')
    y= x/z 
    
except ZeroDivisionError:
    raise ZeroDivisionError('No se puede dividir por cero')
    
except TypeError:
    raise TypeError ('No es un número entero')

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [33]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except:
    raise FileNotFoundError('Error de sintaxis')

FileNotFoundError: Error de sintaxis

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [42]:
try:
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())
except:
    raise FileNotFoundError('No se pudo encontrar el archivo')

FileNotFoundError: No se pudo encontrar el archivo

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [ ]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.

In [14]:
    while True:
        try:
            input = int(input("Ingresar número entero: "))
        except:
            print ('No es un entero')
        else:
            print (input**2)
        break

Ingresar número entero: 5
25


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [ ]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))