**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [44]:
import math
import os


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [18]:
square=[i**2 for i in range(1,21)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [20]:
sqrt=[i**2 for i in range(1,101)]
print(sqrt)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [21]:
my_list=[-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [27]:
odds = [element for element in range(1, 101) if element % 2 == 1 ]
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [29]:
divisible_by_seven = [n for n in range(1,1000) if n % 7 == 0] 
print(divisible_by_seven)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [34]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [35]:
new_string="".join([vow for vow in teststring if vow not in "aeiouAEIOU"])
print(new_string)

Fnd ll f th wrds n  strng tht r mnsyllbc

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [43]:
sentence="The Quick Brown Fox Jumped Over The Lazy Dog"

capital_letters=([cap for cap in sentence if cap not in "qwertyuiopasdfghjkl√±zxcvbnm" and cap not in " "])
print(capital_letters)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [42]:
sentence="The quick brown fox jumped over the lazy dog"

consonants=([cap for cap in sentence if cap not in "aeiouAEIOU" and cap not in " "])
print(capital_letters)

['T', 'h', 'Q', 'c', 'k', 'B', 'r', 'w', 'n', 'F', 'x', 'J', 'm', 'p', 'd', 'v', 'r', 'T', 'h', 'L', 'z', 'y', 'D', 'g']

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [48]:
path="/Users/danigomezlechonbarrachina/Desktop/Labs"

files=[os.listdir(path)]

print(files)

[['1.3-lab-functions', '1.1-lab-bash', '.DS_Store', '1.1-lab-resolving-git-conflicts', '1.3-Bags-of-words', '1.2-lab-tuple-set-dict', '1.4-lab-errorhand_listcomp', '1.2-lab-list-comprehension']]

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [242]:
import random

random_lists=[]
random_list=[]

for j in range(1,5):
    random_lists.append(random_list)

    for i in range(0,5):
        n = random.randint(1,100)
        random_list.append(n)
    

        
    
print(random_lists)

[[43, 38, 34, 51, 5, 36, 90, 30, 6, 5, 96, 14, 60, 54, 29, 36, 79, 36, 82, 16], [43, 38, 34, 51, 5, 36, 90, 30, 6, 5, 96, 14, 60, 54, 29, 36, 79, 36, 82, 16], [43, 38, 34, 51, 5, 36, 90, 30, 6, 5, 96, 14, 60, 54, 29, 36, 79, 36, 82, 16], [43, 38, 34, 51, 5, 36, 90, 30, 6, 5, 96, 14, 60, 54, 29, 36, 79, 36, 82, 16]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [94]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [95]:
flatten_list=[j for i in list_of_lists for j in i ]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [83]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [92]:
floats=[float(j) for i in list_of_lists for j in i]
print(floats)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [96]:
for i in ['a','b','c']:
    print i**2

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(i**2)? (3439384179.py, line 2)

In [122]:
    
try:
    for i in ["a","b","c"]:
        print (i**2)
    
except :
    print("Error con la funcion")

Error con la funcion

In [120]:
try:
    print (i**2)
    
except : 
    print("Error con la funci√≥n")

Error con la funci√≥n

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [109]:
x = 5
y = 0

z = x/y

ZeroDivisionError: division by zero

In [111]:
try:
    x = 5
    y = 0

    z = x/y
except:
    print("No es posible")

No es posible

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [123]:
abc=[10,20,20]
print(abc[3])

IndexError: list index out of range

In [126]:
abc=[10,20,20]

try: 
    print(abc[3])
    
except:
    print("Error buscando el valor")

Error buscando el valor

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [246]:


x, y= input("Please enter number 1:"),input("Please enter number 2:")



try:
    a=int(x)/int(y)
    
    print(a)
    
except TypeError:
    print('No es un n√∫mero')
    
    
    
except ZeroDivisionError:
    print('No puedes dividir entre cero')

Please enter number 1:2
Please enter number 2:0
No puedes dividir entre cero

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [1]:
f = open('testfile','r')
f.write('Test write this')

FileNotFoundError: [Errno 2] No such file or directory: 'testfile'

In [138]:
try:
    f = open('testfile','r')
    f.write('Test write this')
    
except: 
    print("Error reading file")

Error reading file

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [139]:
try:
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())
    
except:
    print("the file could not exist and the data could not be convertable to int")

the file could not exist and the data could not be convertable to int

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [5]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

NameError: name 'sys' is not defined

In [141]:
import sys

try: 
    def linux_interaction():
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
        print('Doing something.')
    linux_interaction()
    
except:
    print("Necesita utilizar Linux")

Necesita utilizar Linux


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.

In [214]:
def squa():
    
    while True:
        
        try:
            x=int(input("Enter a number: "))
            return x**2
        
        except TypeError:
            print('No es un n√∫mero')
            
        except ValueError:
            print('No es un n√∫mero')
            
squa()

Enter a number: r
No es un n√∫mero
Enter a number: 5

25

In [ ]:
def squa():
        
        x=input("Enter a number: ")
        return x**2
        print(x**2)


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

In [195]:
list_1=[] 

for i in range(1,1001):
    
    for j in range(1,10):
        if i%j==0 and i%2!=0 and i%9!=0 and i not in list_1:
            list_1.append(i)
            
print(list_1)

[1, 3, 5, 7, 11, 13, 15, 17, 19, 21, 23, 25, 29, 31, 33, 35, 37, 39, 41, 43, 47, 49, 51, 53, 55, 57, 59, 61, 65, 67, 69, 71, 73, 75, 77, 79, 83, 85, 87, 89, 91, 93, 95, 97, 101, 103, 105, 107, 109, 111, 113, 115, 119, 121, 123, 125, 127, 129, 131, 133, 137, 139, 141, 143, 145, 147, 149, 151, 155, 157, 159, 161, 163, 165, 167, 169, 173, 175, 177, 179, 181, 183, 185, 187, 191, 193, 195, 197, 199, 201, 203, 205, 209, 211, 213, 215, 217, 219, 221, 223, 227, 229, 231, 233, 235, 237, 239, 241, 245, 247, 249, 251, 253, 255, 257, 259, 263, 265, 267, 269, 271, 273, 275, 277, 281, 283, 285, 287, 289, 291, 293, 295, 299, 301, 303, 305, 307, 309, 311, 313, 317, 319, 321, 323, 325, 327, 329, 331, 335, 337, 339, 341, 343, 345, 347, 349, 353, 355, 357, 359, 361, 363, 365, 367, 371, 373, 375, 377, 379, 381, 383, 385, 389, 391, 393, 395, 397, 399, 401, 403, 407, 409, 411, 413, 415, 417, 419, 421, 425, 427, 429, 431, 433, 435, 437, 439, 443, 445, 447, 449, 451, 453, 455, 457, 461, 463, 465, 467, 469, 471, 473, 475, 479, 481, 483, 485, 487, 489, 491, 493, 497, 499, 501, 503, 505, 507, 509, 511, 515, 517, 519, 521, 523, 525, 527, 529, 533, 535, 537, 539, 541, 543, 545, 547, 551, 553, 555, 557, 559, 561, 563, 565, 569, 571, 573, 575, 577, 579, 581, 583, 587, 589, 591, 593, 595, 597, 599, 601, 605, 607, 609, 611, 613, 615, 617, 619, 623, 625, 627, 629, 631, 633, 635, 637, 641, 643, 645, 647, 649, 651, 653, 655, 659, 661, 663, 665, 667, 669, 671, 673, 677, 679, 681, 683, 685, 687, 689, 691, 695, 697, 699, 701, 703, 705, 707, 709, 713, 715, 717, 719, 721, 723, 725, 727, 731, 733, 735, 737, 739, 741, 743, 745, 749, 751, 753, 755, 757, 759, 761, 763, 767, 769, 771, 773, 775, 777, 779, 781, 785, 787, 789, 791, 793, 795, 797, 799, 803, 805, 807, 809, 811, 813, 815, 817, 821, 823, 825, 827, 829, 831, 833, 835, 839, 841, 843, 845, 847, 849, 851, 853, 857, 859, 861, 863, 865, 867, 869, 871, 875, 877, 879, 881, 883, 885, 887, 889, 893, 895, 897, 899, 901, 903, 905, 907, 911, 913, 915, 917, 919, 921, 923, 925, 929, 931, 933, 935, 937, 939, 941, 943, 947, 949, 951, 953, 955, 957, 959, 961, 965, 967, 969, 971, 973, 975, 977, 979, 983, 985, 987, 989, 991, 993, 995, 997]

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [215]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: 13
Enter Num of Sections: 1

In [ ]:
try: 
    Total_Marks = int(input("Enter Total Marks Scored: ")) 
    Num_of_Sections = int(input("Enter Num of Sections: "))
    
except: